[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Tone Maintainers
[access "refs/heads/*"]
	create = group Sony Tone Maintainers
	push = +force group Sony Tone Maintainers
	pushMerge = group Sony Tone Maintainers
	label-Code-Review = -2..+2 group Sony Tone Maintainers
	label-Verified = -1..+1 group Sony Tone Maintainers
	submit = group Sony Tone Maintainers
